.platform {
  color: blue;
}

.journey-card{
  padding: 10px;
  margin: 10px 40px 10px 40px;
  border-right-color: red;
  border-right-width: thick;
}

.journey-card-div{
  flex: 0 43%;
}

.title-div{
  justify-content: space-between;
  display: flex;
}
