.platform {
  color: blue;
}

.journey-card{
  padding: 10px;
  margin: 10px 40px 10px 40px;
  border-right-width: 1vw;
}

.journey-on-time{
  border-right-color: green;
}

.journey-late{
  border-right-color: red;
}

.journey-card-div{
  flex: 0 43%;
}

.journey-card-div div{
  font-size: max(1vw,14px);
}

.journey-dashboard-card-div{
  flex: 0 80%;
  color: black;
}

.journey-dashboard-card-div div{
  font-size: 3vw;
}

.title-div{
  justify-content: space-between;
  display: flex;
}

.middle-row{
  display:flex;
  align-items: center;
}

.delete-button:focus{
  outline: 0;
}