.tram-card-div {
	flex: 0 100%;
	color: black;
}

.tram-card {
	padding: 10px;
    margin: 10px 40px 10px 40px;
	border-right-width: 1vw;
}

.tram-destination {
	width: 70%;
	float: left;
}

.tram-departure {
	width: 30%;
	float: right;
	text-align: right;
}

.tram-header {
	margin-bottom: .75rem;
	font-weight: 500;
}